/.project
/.pydevproject
/.DS_Store
/logs-0901-normal.csv
/2009/
/2010/
/log.txt
/logger.pyc
/location_check.pyc
/_setting.pyc
/shift/
/multiprocess.pyc
/temp.csv
/stats.ipynb
/charts.pyc
/Untitled.ipynb
/calc_opportunity_cost.py
